@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./components/+.css";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --list-leading: 1.75rem;
    --list-icon-size: 1.25rem;
    --list-icon-gap: 0.25rem;
  }

  @font-face {
    font-family: "Noto Sans Display";
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url("/assets/fonts/noto-sans-display/NotoSansDisplay-VariableFont_wdth,wght.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Noto Sans Display";
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url("/assets/fonts/noto-sans-display/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Rubl Sign";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/ruble/ruble.ttf") format("truetype");
  }
}

@layer utilities {
  .section {
    @apply border
           border-indigo-500
           rounded-lg
           p-6;
  }  
}
